/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    overflow: scroll;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#tableElementId table, #tableElementId td.controls {
    transition-duration: 0.4s;
}
#tableElementId table, #tableElementId th, #tableElementId td{
    border: solid black 1px;
    border-collapse: collapse;
    font-size: inherit;
}
#tableElementId th{
    text-align:start;
    vertical-align: bottom;
    max-width: 1em;
    max-height: 30em;
    height: 20em;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
}
#tableElementId th div {
    transform: rotateZ(-90deg);
    transform-origin: 0.5em;
    text-align: start;
    height: 2em;
    width: 30em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tableElementId td {
    text-align: center;
}
#tableElementId td.first-cell {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tableElementId td.top-left {
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
}
#tableElementId td.top-right {
    border-top: solid 1px transparent;
    border-right: solid 1px transparent;
}
#tableElementId td.bottom-left {
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent;
}
#tableElementId td.bottom-right {
    border-bottom: solid 1px transparent;
    border-right: solid 1px transparent;
}
#tableElementId tbody tr:hover {
    background-color: lightgrey;
}
#tableElementId #table-rotated:target {
    transform: rotateZ(45deg);
    transform-origin: bottom left;
}
#tableElementId #table-rotated:target #unrotate {
    opacity: 1;
}
#tableElementId #table-rotated:target #rotate {
    opacity: 0;
}
#tableElementId #unrotate {
    opacity: 0;
}
#tableElementId #rotate {
    opacity: 1;
}
.controls {
    opacity: 0.2;
    vertical-align: bottom;
    padding: 0.5em;
}
.controls:hover {
    opacity: 1;
}
.controls a {
    font-style: normal;
    text-decoration: none;
    background-color: #eee;
    padding: 0.2em 0.5em 0.2em 0.5em;
}
.cell-core-module {
    color: grey;
    font-style: italic;
}
.cell-unresolvable-module {
    color: red;
    font-style: italic;
}
.cell-true {
    background-color: black;
    opacity: 0.5;
}
.cell-false {
    background-color: white;
    opacity: 0.5;
}
.cell-error {
    background-color: red;
    opacity: 0.5;
}
.cell-warn {
    background-color: orange;
    opacity: 0.5;
}
.cell-info {
    background-color: blue;
    opacity: 0.5;
}